menu "Generic Options"

#
# Device tree control
#
config OF_CONTROL
	bool "Enable Device Tree Control"
	default n
	select OF_LIBFDT

config DEVICE_TREE
	depends on OF_CONTROL
	string "Default device tree"

endmenu
