if TARGET_NUCLEO_STM32F401RE

config SYS_DEFCONFIG
	bool
	default y
	select CPU_V7M
	select STM32F4
	select CLOCK
	select PINCTRL

config CPU_V7M_CM4
	bool
	default y

config SYS_BOARD
	string
	default "nucleo_stm32f401re"

config SYS_VENDOR
	string
	default "st"

config SYS_SOC
	string
	default "stm32f4"

config STM32F4
	bool

endif
